<input class="form-control mb-4" type="text" placeholder="Введите запрос...">

<table class="table admin table-bordered">
	<thead>
		<tr>
			<th scope="col" class="table-id">#</th>
			<th scope="col">Имя</th>
			<th scope="col">Никнейм</th>
			<th scope="col">E-mail</th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>

		<tr>
			<th scope="row" class="table-id">1</th>
			<td scope="row">Иван Иванов</td>
			<td scope="row">Ivan1998</td>
			<td scope="row"><a href="#">Ivan1998@mail.ru</a></td>
			<td scope="row">
				<button type="button" class="btn btn-primary"><span class="oi oi-pencil"></span></button>
			</td>
			<td class="table-control" scope="row">
				<button type="button" class="btn btn-danger"><span class="oi oi-media-pause"></span></button>
			</td>
		</tr>

	</tbody>
</table>