<div class="col-md-3">
	<div class="list-group mb-3" id="side-acc">

		<button type="button" class="list-group-item list-group-item-action active">
			<span>Новости</span>
			<span class="badge badge-light text-primary text-right">12</span>
		</button>

		<button type="button" class="list-group-item list-group-item-action">
			<span>События</span>
			<span class="badge badge-light text-primary text-right">3</span>
		</button>
	</div>
	
			<input type="hidden" class="form-control" aria-describedby="date" placeholder="Дата" id="sandbox-container">
</div>